Repository sparklemotion/nokogiri, pull requests merged in 2020-12, with the labels that each got.

#2122 fix: don't re-add libraries to the static link line
  ext/nokogiri/extconf.rb
Labels: packaging/compile-from-source

#2082 gem: attempt to build a darwin gem that works on multiple darwin versions
  .cross_rubies
  .gitignore
  .hoerc
  rakelib/cross-ruby.rake
  scripts/setup-osx-native-builders
  test/test_gem_platform.rb
Labels: packaging/native-gem, release-blocker

#2129 native gems noted in versioninfo
  CHANGELOG.md
  ext/nokogiri/extconf.rb
  ext/nokogiri/nokogiri.c
  lib/nokogiri/version/info.rb
  test/test_version.rb
Labels: packaging/native-gem

#2134 fix: updated patches for closing HTML comments on `--!>`
  patches/libxml2/0006-htmlParseComment-treat-as-if-it-closed-the-comment.patch
  patches/libxml2/0007-rewrite-htmlParseLookupSequence-to-accept-an-arbitra.patch
  patches/libxml2/0007-use-new-htmlParseLookupCommentEnd-to-find-comment-en.patch
Labels: upstream/libxml2, vendored/libxml2

#2136 fix: the CSS `~=` operator handles non-space whitespace
  CHANGELOG.md
  lib/nokogiri/css/xpath_visitor.rb
  test/css/test_css_integration.rb
  test/css/test_parser.rb
Labels: topic/css

#2143 fine tune packaging
  .gitignore
  Rakefile
  concourse/tasks/gem-test/gem-build-java.sh
  concourse/tasks/gem-test/gem-build.sh
  concourse/tasks/gem-test/gem-install-and-test.sh
  ext/nokogiri/extconf.rb
  lib/nokogiri/version/info.rb
  rakelib/cross-ruby.rake
  scripts/build-gems
  scripts/compile-against-libxml2-source
  scripts/test-gem-file-contents
  scripts/test-gem-installation
  test/test_version.rb
Labels: packaging/compile-from-source, packaging/native-gem

#2144 Use glibc strlen to speed up xmlStrlen
  patches/libxml2/0008-use-glibc-strlen.patch
Labels: needs/more-info, topic/performance, vendored/libxml2

#2150 HTML "strict" mode parsing
  CHANGELOG.md
  C_CODING_STYLE.rdoc
  ext/java/nokogiri/XmlNode.java
  ext/java/nokogiri/internals/HtmlDomParserContext.java
  ext/nokogiri/html_document.c
  ext/nokogiri/xml_sax_parser.c
  lib/nokogiri/html/document.rb
  lib/nokogiri/xml/node.rb
  test/helper.rb
  test/html/test_document.rb
  test/html/test_document_encoding.rb
  test/test_xslt_transforms.rb
  test/xml/test_document.rb
  test/xml/test_node.rb
  test/xml/test_syntax_error.rb
Labels: release-blocker

#2142 WIP: Cross compile for x86_64-darwin and arm64-darwin per rake-compiler-dock
  .cross_rubies
  Gemfile
  Rakefile
  ext/nokogiri/extconf.rb
  patches/libxml2/0009-avoid-isnan-isinf.patch
  rakelib/cross-ruby.rake
  scripts/build-gems
  scripts/setup-osx-native-builders
  scripts/test-gem-file-contents
  scripts/test-gem-set
Labels: packaging/native-gem, release-blocker

#2156 fix: emit helpful error when native gem fails to load glibc
  lib/nokogiri.rb
Labels: packaging/native-gem
